@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
/*navbar incio*/

.navbar{
    position: fixed;
    width: 100%;
    /* background: rgb(10, 4, 65); */
    font-family: 'Ubuntu', sans-serif;
    padding: 30px 0;
    transition: all 0.3s ease;
    z-index: 999;
}

.navbar.sticky{
    background: rgb(10, 4, 65);
    padding: 15px 0;
    transition: all 0.3s ease;
}

.navbar .menu li a:hover{
    color:rgb(11, 11, 133);
}

/* .navbar .sticky .menu li a:hover{ 
    color:rgb(11, 11, 133);
}*/


.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;

}

.navbar .logo a{
    color: #fff;
    font-size: 35px;
    font-weight: 500;
}

.navbar .logo a span{
    color: blue;
    transition: all 0.3s ease;
}

.navbar.sticky .logo a span{
    color: #fff;
}

.navbar .menu li{
    list-style: none;
    display: inline-block;

}

.navbar .menu li a{
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}



.home .home-content a{
    display: inline-block;
    background-color: blue;
    color:white;
    font-size: 24px;
    padding: 12px 36px;
    margin-top: 9px;
    border-radius: 6px;
    border: 2px solid blue;
    transition: all 0.3s ease;
}

.home .home-content a:hover{
    color: #fff;
    background: none;
}
   
/* home--inicio */

.home{
    display: flex;
    background-color: black;
    /* background: url() no-repeat center; */
    height: 100vh;
    color: black;
    min-height: 500px;
    font-family: 'Ubuntu', sans-serif;
}

.home .max-width{
    margin: auto 0 auto 40px;
}

.home .home-content .text-1{
    font-size: 27px;
    color: #fff;
}

.home .home-content .text-2{
    font-size: 75px;
    font-weight: 500;
    margin-left: -3px;
    color: #fff;
}

.home .home-content .text-3{
    font-size: 40px;
    margin: 5px 0;
    color: #fff;
}

.home .home-content .text-3 span{
    color: rgb(77, 67, 170);
    font-weight: 500;
}


/* About section styling */
.about, .services{
    font-family: 'Poppins', sans-serif;
}

.about .about-content .left img{
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 999px;
}

.about .about-content,
.services .serv-content{
    display: flex; 
    flex-wrap: wrap;  
    align-items: center; 
    justify-content: space-between;
}

.about .about-content .left{
    width: 45%;
}

.about .about-content .rigth{
    width: 55%;
}

.about .about-content .rigth .text{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}

.about .about-content .rigth .text span{
    color: blue;
}

.about .about-content .rigth p{
    text-align: justify;
}

.about .about-content .rigth a{
    display: inline-block;
    background-color: blue;
    color:white;
    font-size: 24px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 9px;
    border-radius: 6px;
    border: 2px solid blue;
    transition: all 0.3s ease; 
}

.about .about-content .rigth a:hover{
    color:rgb(10, 4, 65);
    background: none;
}

.about .title::after{
    content: "Quem eu sou";
}

/* Services section start */
.services, .teams{
    color:#fff;
    background: #111;
}
.services .title::before,
.teams .title::before{
    background: #fff;
}
.services .title::after,
.teams .title::after{
    background: #111;
    content: "what i provide";
}
.services .serv-content .card{
    width: calc(33% - 20px);
    background: #222;
    text-align: center;
    border-radius: 6px;
    padding: 50px 25px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.services .serv-content .card:hover{
    background: blue;
}
.services .serv-content .card .box{
    transition: all 0.3s ease;
}
.services .serv-content .card:hover .box{
    transform: scale(1.05);
}
.services .serv-content .card i{
    font-size: 50px;
    color: blue;
    transition: color 0.3s ease;
}
.services .serv-content .card:hover i{
    color: #fff;
}
.services .serv-content .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}



/* All similar styling */

section{
    padding: 100px 0;

}

.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

section .title{
    position: relative;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
}

section .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left:50%;
    transform: translateX(-50%);
    width: 200px;
    height: 3px;
    background: #111;
}

section .title::after{
    position: absolute;
    bottom: -12px;
    left:50%;
    transform: translateX(-50%);
    padding: 5px;
    background: #fff;
    font-size: 20px;
    color: blue;
}
